.navigation {
  width: 200px;
  position: fixed;
  bottom: 72px;
  right: 48px;
  display: flex;
  justify-content: space-between;
  z-index: 100;

  .previous {
    color: white;
  }

  .next {
    color: white;
  }
}
