.title {
  font-size: 54px;
  font-weight: 700;
  color: #fff;
}

.description {
  font-size: 16px;
  font-weight: 300;
  color: #F3E6DE;
}

.divider {
  width: 1px;
  height: 12px;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  background-color: #F3E6DE;
}

.stats {
  display: flex;
  align-items: flex-end;

  .count {
    font-size: 90px;
    font-weight: 700;
    line-height: 71px;
    margin-right: 20px;
  }

  .choice {
    max-width: 280px;
    font-size: 16px;
    font-weight: 300;
    color: #F3E6DE;
  }
}
