font-face {
  font-family: 'Yrantramanav-Light';
  src: local('Yrantramanav-Light'), url(./fonts/Yantramanav-Light.ttf) format('ttf');
}

font-face {
  font-family: 'Yantramanav-Regular';
  src: local('Yantramanav-Regular'), url(./fonts/Yantramanav-Regular.ttf) format('ttf');
}

font-face {
  font-family: 'Miller';
  src: local('Miller'), url(./fonts/MillerDisplay-Bold.ttf) format('ttf');
}


%miller {
  font-family: 'Miller', serif;
}

%yantra {
  font-family: 'Yantramanav-Regular', san-serif;
}
